# Python 编译文件
__pycache__/
*.py[cod]

# 虚拟环境
venv/
.env/

# 日志文件
*.log

# PyCharm 项目配置文件
.idea/

# Jupyter Notebook 检查点文件
.ipynb_checkpoints/

# 打包文件（如dist目录）
dist/
build/
*.egg-info/
*.spec

# 其他可能不需要的文件或目录
.DS_Store
Thumbs.db

# Windows打包BAT命令文件
myenv/

# 测试文件
*test*.*